
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <style>
        body {
            font-weight: bold;
            max-height: 100%;
            background-image: url('https://i.postimg.cc/hv5jqtNs/Capturada.png');
            background-position: center;
            background-size: unset;
            background-repeat: repeat;
        }
    </style>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<body style="font-weight: bold;max-height: 100%">
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="padding-left: 80px">
    <a class="navbar-brand" th:href="@{/clientes}">Registro de usuarios
        <a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/clientes}">Registro de clientes
                        </a>
                    </li>

                    <li class="nav-item" style="padding-left: 900px">
                        <a class="nav-link"
                           th:href="@{/usuarios/crear}">Registro de usuarios
                        </a>
                    </li>
                </ul>
            </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background: rgba(255, 255, 255, 0.8); font-weight: bold">
            <h1 class="text-center">Editar usuarios<h1>
                <div class="card-body">
                    <div th:if="${param.exito}">
                        <div class="alert alert-info">
                            Se ha modificado exitosamente
                        </div>
                        </div>
                    <form th:action="@{/usuarios/{id}(id=${usuario.documento})}" th:object="${usuario}" method="POST">
                        <br>
                        <div class="form-group">
                            <label>documento:</label>
                            <input placeholder="Ingrese el documento" type="number" name="documento" th:field="*{documento}" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>id_vendedor:</label>
                            <input placeholder="Ingrese el id_usuario" type="number" name="id_vendedor" th:field="*{id_vendedor}" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>nombre:</label>
                            <input placeholder="Ingrese el nombre" type="text" name="nombre" th:field="*{nombre}" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>apellido:</label>
                            <input placeholder="Ingrese el apellido" type="text" name="apellido" th:field="*{apellido}" class="form-control" >
                        </div>
                        <br>
                        <div class="form-group">
                            <label>contraseña:</label>
                            <input placeholder="Ingrese el contraseña" type="text" name="contraseña" th:field="*{contraseña}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>correo:</label>
                            <input placeholder="Ingrese el correo" type="text" name="correo" th:field="*{correo}" class="form-control" required>
                        </div>

                        <div class="box-footer">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>

         </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>