
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Iniciar sesion
        <a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/}">Edicion de usuarios
                        </a>
                    </li>
                </ul>
            </div>
 </nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Iniciar sesion</h1>
                <div class="card-body">

                    <form th:action="@{/login}" method="POST">
                        <br>
                        <div th:if="${param.error}">
                            <div class="alert alert-info">
                                Usuariok o contraseña invalidos
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                Se ha cerrado sesion exitosamente
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label"for="username">nombre de usuario:</label>
                            <input id="username" placeholder="Ingrese el email" type="text" name="username" class="form-control" required autofocus="autofocus">
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="control-label"for="password">password de usuario:</label>
                            <input id="password" placeholder="Ingrese el password" type="password" name="password" class="form-control" required autofocus="autofocus">
                        </div>
                        <br>
                        <div class="box-footer">
                            <input type="submit" class="btn btn-success" id="login-submit" value="Iniciar sesion">
                            <span>Si esta registrado
                                <a th:href="@{/login}">Inicie sesion aqui
                                    </a>
                                </span>
                        </div>
                    </form>
                </div>

         </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>